<!DOCTYPE html>
<html>
  <head>
    <title>Rbacapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <%= render partial: 'layouts/navbar' %>
      <main class="mdl-layout__content">
        <div class="page-content">
          <!-- Your content goes here -->
          <%= render partial: 'layouts/flash' %>
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
